/* FIX: Color of crispy forms text is not visible. */

.card {
  background-color: black !important;
  color: white !important;
  border: 1.5px solid white !important;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  margin-bottom: 10px;
}

.second-card {
  margin-top: 50px !important;
}

.card .card-header {
  background-color: black !important;
  color: white !important;
  border-bottom: none;
  text-align: center;
  font-size: 1.3rem;
}

.card .card-header::after {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  background-color: #666;
  margin: 1rem auto 0;
}


.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: auto;
}

.quantity-input::-moz-appearance {
  -moz-appearance: number-input;
}

.form-control {
  background-color: #333 !important;
  color: white !important;
  border: 1.3px solid white !important;
  box-shadow: inset 0 0 15px black;
}

.list-group-item {
  background-color: #222 !important;
  color: white !important;
  border: 1px solid white !important;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.list-group-item.bg-light {
  background-color: #333 !important;
}

.list-group-item strong,
.list-group-item span,
.list-group-item h6,
.list-group-item small {
  color: white !important;
}

.custom-action-btn {
  background-color: yellow !important;
  color: black !important;
  font-weight: bold;
  border: 2px solid yellow !important;
  transition: all 0.3s ease;
  border-radius: 999px !important;
  margin-top: 20px;
}

.custom-action-btn:hover {
  background-color: transparent !important;
  color: white !important;
  border: 2px solid yellow !important;
}
