/* Table styling */
.table {
  background-color: #000000 !important; 
  color: #ffffff !important;
}

.table-responsive {
  background-color: transparent;
  border: none; /* Ensure no border hides card border */
}

.table thead th {
  background-color: transparent;
  color: white !important;
  text-align: center; 
  padding-top: 1rem !important; 
  padding-bottom: 0.8rem;
}

.table tbody tr {
  border-bottom: 1px solid #666;
  background-color: transparent;
}

.table tbody tr:last-child { /*  Remove divider below last item */
  border-bottom: none !important;
}

.table tbody td {
  background-color: transparent;
  color: white !important;
  text-align: center; /*  Center content */
}

/* Item name and category alignment */
td h6 {
  text-align: left;
}

td small {
  display: block;
  text-align: left;
}

.category-text {
  color: #999 !important;
  font-size: 0.8rem;
  margin-top: 5px;
}

td:first-child {
  text-align: left;
}

.table tfoot {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.table tfoot td,
.table tfoot th {
  background-color: #000000 !important;
  color: #ffffff !important;
  text-align: right; 
  border-top: 1px solid #666; 
}
