{% extends 'base.html' %}

{% block title %}Reservation Confirmation - Pomodoro House{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/form.css">
<link rel="stylesheet" href="/static/css/table.css">
{% endblock %}

{% block content %}
<div class="order-page-wrapper">
  <h1 class="auth-title order-details-heading">Reservation Confirmed</h1>
  <div class="auth-container">
    <p><strong>Name:</strong> {{ reservation.gender }} {{ reservation.name }}</p>
    <p><strong>Phone:</strong> {{ reservation.mobile }}</p>
    <p><strong>Email:</strong> {{ reservation.email }}</p>
    <p><strong>Date:</strong> {{ reservation.date }}</p>
    <p><strong>Time:</strong> 
      {% if reservation.time_slot|stringformat:"H:i" == "12:00" %}
        12:00
      {% else %}
        {{ reservation.time_slot }}
      {% endif %}
    <p><strong>Guests:</strong> {{ reservation.guests }} guests</p>
    <hr style="border-top: 1.5px solid white ; margin-top: 0.25rem; margin-bottom: 1.5rem;">
    <p><strong>Branch:</strong> {{ reservation.branch.name }}</p>
    <p><strong>Address:</strong> {{ reservation.branch.address }}</p>
    <p><strong>Branch Phone:</strong> {{ reservation.branch.phone }}</p>
    
    <!-- Google Map iframe -->
    <hr style="border-top: 1.5px solid white ; margin-top: 0.25rem; margin-bottom: 1.5rem;">
    <div class="map-container" style="text-align: center; max-width: 100%; overflow: hidden; height: 250px;">
      {{ reservation.branch.map_embed_html|safe }}
    </div>

    <div class="text-center">
      <a href="{% url 'index' %}" class="btn custom-login-btn">Confirm !</a>
    </div>
  </div>
</div>
{% endblock %}
